.title,.feedback {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.feedback{
  margin-top: 5rem;
}